
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- link  CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ELMS</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/"><strong>LEAVE MANAGEMENT SYSTEM</strong></a>
    <div class="form-inline my-2 my-lg-10">
        <a class="p-2 text-light" href="#">Home</a>
        <a class="p-2 text-light" href="#">About</a>
        <a class="p-2 text-light" href="/admin_dashboard/">Admin Dasboard</a>
<!--        <a class="p-2 text-light" href="#">About</a>-->

        <a href="/logout"class="btn btn-warning">Admin Logout</a>&nbsp;

    </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <a style="text-align:center" class="navbar-brand" href="/admin_dashboard/"><strong>ALL EMPLOYEE LEAVE REQUEST</strong></a>

</nav>
 <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>S.No</th>
                      <th>FIRST NAME</th>
                      <th>LAST NAME</th>
                      <th>START DATE</th>
                      <th>END DATE</th>
                       <th>LEAVE TYPE</th>
                        <th>LEAVE STATUS</th>
                        <th style="text-align:center">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in all_leave %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{s.employee.first_name}}</td>
                        <td>{{s.employee.last_name}}</td>
                       <td>{{s.start_date}}</td>
                       <td>{{s.end_date}}</td>
                        <td><strong>{{s.leave_type|title}}</strong></td>
                        <td>
                            {% if s.leave_status == "1" %}<strong>PENDING</strong>{% endif %}


                        {% if s.leave_status == "2" %}<strong>REJECTED</strong>{% endif %}
                        {% if s.leave_status == "3" %}<strong>ACCEPTED</strong>{% endif %}

                        </td>


                      <td>
                        <a href="/reject_leave/{{s.id}}" class="btn btn-danger md-sm">Rejected</a>
                        <a href="/accept_leave/{{s.id}}" class="btn btn-success md-sm">Accepted</a>

                      </td>

                    </tr>
                    {% endfor%}
                    </tbody>

                  </table>

                </div>

              </div>

            </div>

          </div>

        </div>




</body>
</html>
